@charset "utf-8";


body {
    margin: 50;
    padding: 50;
    background-color: dimgray;
    color: floralwhite;
    font-size: 10px;
    line-height: 2;
    font-family: 'Bitter', serif;
}

p,h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
}

img{
    vertical-align: bottom;
}

a {
    color: #3583aa;
}

a:visited {
    color: #788d98;
}

a {
    color: #3583aa;
    text-decoration: none;
}

a:visited {
    color: #788d98;
}

a:hover {
    text-decoration: underline;
}

header {
    width: 960px;
    height: 100px;
    margin: 0 auto;
}
    
.logo {
  text-align: left;
  float: left;
  margin-top: 5px;
}

.grobal-nav {
  float: right;
  margin-top: 50px;
}

.grobal-nav li{
    float: left;
    margin: 0 10px;
    font-size: 20px;
    list-style: none;
}

.grobal-nav li a {
    color: #ffffff;
}

.grobal-nav li a:hover {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 2px;
    text-decoration: none;
}


#wrap {
    clear: both;
}

.content {
    width: 960px;
    margin: 0 auto;
}

footer {
    text-align: center;
    color: #ffffff;
    padding: 10px 0;
}

footer small{
    font-size: 12px;
}

/* フェードイン */

.fade-in {
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  transition: opacity 2s, transform 2s;
}
.fade-in.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}


/* indexページ  */
/*indexの見出し*/

#index h1 {
    font-size: 80px;
    line-height: 1;
    color: #ffffff;
    font-family: 'Bitter', serif;
    margin-bottom: 20px;
}
 


/*indexの見出しとHeaderの間の間隔*/

#index .content{
    margin-top: 80px;
}


#index p {
    font-size: 20px;
    color: #ffffff;
    font-family: 'Bitter', serif;
  }




#index footer {
    width: 960px;
    margin: 150px auto 0 auto;
    text-align: left;
}

#index {
    background-image: url(../images/Piano.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}


/*ボタンのレイアウト*/

.btn a {
    background-color: #009cd3;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Bitter', serif;
    width: 160px;
    display: block;
    text-align: center;
    line-height: 50px;
    margin-top: 20px;
    border-radius: 10px;
    border: 3px solid #009cd3;
}

/*マウスにボタンを置いたときのレイアウト*/

.btn a:hover {
    text-decoration: none;
    background-color: #ffffff;
    color: #009cd3;
}


/*school-masterの見出し*/

#school-master h1 {
    font-size: 30px;
    line-height: 1;
    color: #ffffff;
    font-family: 'Bitter', serif;
    margin-bottom: 20px;
}

/*school-masterの見出しとHeaderの間の感覚*/

#school-master .content{
    margin-top: 40px;
}

/*school-masterのcontetエリアのp要素*/

#school-master p {
    font-size: 20px;
    color: #ffffff;
    font-family: 'Bitter', serif;
}

.icon:before{
  content:"";
  padding-right: 10px;
  border-left: 7px solid #9cb4a4;
}

#school-master .icon {
  font-size: 35px;
  font-family: 'Bitter', serif;
  width: 960px;
  margin: 0 auto;
  
}

#school-master .form{
  background-color: darkgray;
  font-family: 'Bitter', serif;
  color: #ffffff;
  padding:20px 50px;
  width: 900px;
  margin: 0 auto;
  margin-top: 10px;
}

#school-master .form dl dt{
  font-size: 16px;
  font-family: 'Bitter', serif;
  width: 400px;
  padding: 10px 0;
  float: left;
  clear: both;
}

#school-master .form dl dd{
  padding: 16px 0;
}

/*ボタンのレイアウト*/

#school-master .form button {
    background-color: #009cd3;
    color: #ffffff;
    font-size: 15px;
    font-family: 'Bitter', serif;
    width: 100px;
    display: block;
    text-align: center;
    line-height: 30px;
    margin-top: 20px;
    border-radius: 10px;
    border: 3px solid #009cd3;
}

#school-master .form button:hover {
    text-decoration: none;
    background-color: #ffffff;
    color: #009cd3;
    cursor: pointer;
}


#school-master .form .attention p{
  font-size: 13px;
}


#confirmation .content p {
    font-size: 16px;
    color: #ffffff;
    font-family: 'Bitter', serif;
}

#confirmation .content{
  margin-top: 40px;
}


#confirmation .form{
  background-color: darkgray;
  font-family: 'Bitter', serif;
  color: #ffffff;
  padding:50px 50px;
  width: 900px;
  margin: 0 auto;
  margin-top: 10px;
}

#confirmation .form dl dt{
  font-size: 16px;
  font-family: 'Bitter', serif;
  width: 400px;
  padding: 10px 0;
  float: left;
  clear: both;
}

#confirmation .form dl dd{
  padding: 16px 0;
}

#confirmation .icon {
  font-size: 35px;
  font-family: 'Bitter', serif;
  width: 960px;
  margin: 0 auto;
  
}

#confirmation .form button {
    background-color: #009cd3;
    color: #ffffff;
    float: left;
/*  　margin-left: auto;*/
/*    margin-right: auto;*/
/*    margin: 10px 10px 10px 10px;*/
    font-size: 15px;
    font-family: 'Bitter', serif;
    width: 250px;
    display: block;
    text-align: center;
    line-height: 30px;
    margin-top: 5px;
    border-radius: 10px;
    border: 3px solid #009cd3;
  margin: 0 auto;
}

#confirmation .form button:hover {
    text-decoration: none;
    background-color: #ffffff;
    color: #009cd3;
    cursor: pointer;
}

-----

/*school-masterの見出しとHeaderの間の感覚*/

#price-predict-input .content{
    margin-top: 40px;
}

/*school-masterのcontetエリアのp要素*/

#price-predict-input p {
    font-size: 20px;
    color: #ffffff;
    font-family: 'Bitter', serif;
}


#price-predict-input .content h1 {
    font-size: 30px;
    line-height: 1;
    color: #ffffff;
    font-family: 'Bitter', serif;
    margin-bottom: 20px;
}



#price-predict-input .content p {
    font-size: 16px;
    color: #ffffff;
    font-family: 'Bitter', serif;
}

#price-predict-input .content{
  margin-top: 40px;
}



#price-predict-input .form{
  background-color: darkgray;
  font-family: 'Bitter', serif;
  color: #ffffff;
  padding:50px 50px;
  width: 900px;
  margin: 0 auto;
  margin-top: 10px;
}

#price-predict-input .form dl dt{
  font-size: 16px;
  font-family: 'Bitter', serif;
  width: 400px;
  padding: 10px 0;
  float: left;
  clear: both;
}

#price-predict-input .form dl dd{
  padding: 16px 0;
}

#price-predict-input .icon {
  font-size: 35px;
  font-family: 'Bitter', serif;
  width: 960px;
  margin: 0 auto;
  
}

#price-predict-input .form button {
    background-color: #009cd3;
    color: #ffffff;
    float: left;
/*  　margin-left: auto;*/
/*    margin-right: auto;*/
/*    margin: 10px 10px 10px 10px;*/
    font-size: 15px;
    font-family: 'Bitter', serif;
    width: 250px;
    display: block;
    text-align: center;
    line-height: 30px;
    margin-top: 5px;
    border-radius: 10px;
    border: 3px solid #009cd3;
  margin: 0 auto;
}

#price-predict-input .form button:hover {
    text-decoration: none;
    background-color: #ffffff;
    color: #009cd3;
    cursor: pointer;
}


#price-predict-input .form .attention p{
  font-size: 13px;
}

---------

/*school-masterの見出しとHeaderの間の感覚*/

#input-form .content{
    margin-top: 40px;
}

/*school-masterのcontetエリアのp要素*/

#input-form p {
    font-size: 20px;
    color: #ffffff;
    font-family: 'Bitter', serif;
}


#input-form .content h1 {
    font-size: 30px;
    line-height: 1;
    color: #ffffff;
    font-family: 'Bitter', serif;
    margin-bottom: 20px;
}

#input-form .content p {
    font-size: 16px;
    color: #ffffff;
    font-family: 'Bitter', serif;
}

#input-form .content{
  margin-top: 40px;
}


#input-form .form{
  background-color: darkgray;
  font-family: 'Bitter', serif;
  color: #ffffff;
  padding:50px 50px;
  width: 900px;
  margin: 0 auto;
  margin-top: 10px;
}

#pinput-form .form dl dt{
  font-size: 16px;
  font-family: 'Bitter', serif;
  width: 400px;
  padding: 10px 0;
  float: left;
  clear: both;
}

#input-form .form dl dd{
  padding: 16px 0;
}

#input-form .icon {
  font-size: 35px;
  font-family: 'Bitter', serif;
  width: 960px;
  margin: 0 auto;
  
}

#input-form .form button {
    background-color: #009cd3;
    color: #ffffff;
    float: left;
/*  　margin-left: auto;*/
/*    margin-right: auto;*/
/*    margin: 10px 10px 10px 10px;*/
    font-size: 15px;
    font-family: 'Bitter', serif;
    width: 250px;
    display: block;
    text-align: center;
    line-height: 30px;
    margin-top: 5px;
    border-radius: 10px;
    border: 3px solid #009cd3;
  margin: 0 auto;
}

#input-form .form button:hover {
    text-decoration: none;
    background-color: #ffffff;
    color: #009cd3;
    cursor: pointer;
}


#input-form .form .attention p{
  font-size: 13px;
}