<!DOCTYPE html>
<html>
    <head>
        <h1>ご記入頂いた教室情報はこちらです</h1>
    </head>
    <body>
        <header>
            <p>{{insert_table.school_name}}</p>
            <p>{{insert_table.nearest_station}}</p>
            <p>{{insert_table.address}}</p>
            <p>{{insert_table.operating_hour}}</p>
            <p>{{insert_table.lesson_hour}}</p>
            <p>{{insert_table.distance_station}}</p>
            <p>{{insert_table.number_students}}</p>
            <p>{{insert_table.lesson_time}}</p>
            <p>{{insert_table.numbers_of_lesson}}</p>
            <p>{{insert_table.price_minutes}}</p>
            <p>{{insert_table.price_month}}</p>
        </header>
        <form action="/predict_price_form" method="POST">
            <input type="hidden" name="unique_school_id" value = {{insert_table.unique_school_id}}>
            <input required type="submit" value="価格の予測診断を行う"></p>
        </form>
        <form action="/student_master_form" method="POST">
            <input type="hidden" name="school_name" value = {{insert_table.school_name}}>
            <input required type="submit" value="生徒のモチベーション診断を行う"></p>
        </form>
        <a href = "index"><h1>記入ページに戻る</h1></a>
        <a href = "motivation_assessment_form"><h1>生徒のモチベーション診断を行う</h1></a>
        <a href = "predict_price_form"><h1>価格の予測診断を行う</h1></a>
        <footer>
            <small>(C)2021 Lec.Booster.</small>
        </footer>
    </body>
</html>
