<!DOCTYPE html>
<html>
    <head>
        <title>音楽教室</title>
        <link href="/static/css/style.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class = "logo"></div>
            <img src="/static/images/lec_booster.png" alt="lec_booster">    
        </header>
        <class></class>
        <nav>
            <a href = "test"><h1>音楽教室の働き方改革</h1>></a>
        </nav>
        <form action="/add" method="POST">
            <p><input type="text" name="school_name" placeholder="教室名"><br>
            <input type="text" name="station" placeholder="最寄駅"><br>
            <input type="text" name="address" placeholder="住所"><br>
            <input type="text" name="operating_hour" placeholder="最大稼働時間"><br>
            <input type="text" name="lesson_hour" placeholder="現稼働時間"><br>
            <input type="text" name="distance" placeholder="最寄駅までの距離"><br>
            <input type="text" name="number_student" placeholder="生徒の数"><br>
            <input type="text" name="lesson_time" placeholder="レッスンの時間/1回あたり"><br>
            <input type="text" name="numbers_of_lesson" placeholder="レッスンの回数/月"><br>
            <input type="text" name="price_minutes" placeholder="価格/分"><br>
            <input type="text" name="price_month" placeholder="価格/月"><br>
            <input type="submit" value="Submit"></p>
        </form>
        <footer>
            <small>(C)2021 Lec.Booster.</small>
        </footer>
    </body>
    </html>
