<!DOCTYPE html>
<html>
    <head>
        <title>教室の価格診断</title>
        <link href="/static/css/style.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class = "logo"></div>
            <img src="/static/images/lec_booster.png" alt="lec_booster">    
        </header>
        <class></class>
        <nav>
            <h1>教室の価格診断</h1>
        </nav>
        <form action="/addadd" method="POST">
            <p>▼テスト用：教室IDを入れてください<br>
            <input required type="number" name="unique_school_id" placeholder="(例)1303"><br>
            <p>▼指導歴(年)をご記入ください<br>
            <input required type="number" name="coaching_history" placeholder="(例)20"><br>
            <p>▼保育士をターゲットにしていますか<br>
            <input required type="radio" name="t_childminder" value=True>はい<br>
            <input required type="radio" name="t_childminder" value=False>いいえ<br>
            <p>▼幼稚園教諭志望をターゲットにしていますか<br>
            <input required type="radio" name="t_kindergarden_teacher" value=True>はい<br>
            <input required type="radio" name="t_kindergarden_teacher" value=False> いいえ<br>
            <p>▼初心者をターゲットにしていますか<br>                
            <input required type="radio" name="t_beginner" value=True>はい<br>
            <input required type="radio" name="t_beginner" value=False>いいえ<br>
            <p>▼声楽コースはありますか<br>
            <input required type="radio" name="t_vocal_music" value=True>はい<br>
            <input required type="radio" name="t_vocal_music" value=False>いいえ<br>
            <p>▼作曲コースはありますか<br>
            <input required type="radio" name="composition" value=True>はい<br>
            <input required type="radio" name="composition" value=False>いいえ<br>
            <p>▼コンクールでの入賞経験はありますか<br>
            <input required type="radio" name="t_contest" value=True>はい<br>
            <input required type="radio" name="t_contest" value=False>いいえ<br>
            <p>▼海外への留学経験はありますか<br>
            <input required type="radio" name="study_abroad" value=True>はい<br>
            <input required type="radio" name="study_abroad" value=False>いいえ<br>                      
            <p>▼卒業大学をご記入ください<br>
            <input required type="text" name="former_university" placeholder="(例)桐朋学園大学"><br>  
            <input required type="submit" value="Submit"></p>
        </form>
        <footer>
            <small>(C)2021 Lec.Booster.</small>
        </footer>
    </body>
    </html>
