
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF=-8">
<title>音楽教室の働き方「Lec.Booster」Official Website</title>
<link href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap" rel="stylesheet">
<link href="static/css/style.css" rel="stylesheet">
</head>
<body id="index">
    
        <!--header始まり-->
        <header>
            <div class="logo">
                <a href="index.html"><img src="static/images/lec_booster.png" alt = "SNAPPPERS"></a>
            </div>
            <nav>
                <ul class="grobal-nav">
                    <li><a href="portofolio.html">Portfolio</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </header>
        <!--header終わり-->

        <!--wrap始まり-->
        <div id="wrap">
            <div class="content">
                <h1>Life is beautiful, Music!Music!</h1>
                <p>このWebサイトは、音楽教室の働き方改革を目的としたWebサイトです。<br>
                生徒のモチベーションを診断することや、適正価格の診断を行うことができます。<br>
                楽しんで使ってください。</p>
                <p class="btn"><a href="index">診断する</a></p>
            </div>
        </div>
        <!--wrap終わり-->

        <!--footer始まり-->
        <footer>
            <small>(C)2021 Lec.Booster.</small>
        </footer>
        <!--footer終わり-->

</body>
</html>
