<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>音楽教室の働き方「Lec.Booster」Official Website</title>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@100&display=swap" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
  </head>
  
  <body id="index">
  
  <!--header始まり-->
  
    <header>
      <div class="logo">
        <a href="index"><img src="/static/images/lec_booster.png" alt="lec_booster"></a></div>
      <nav>
        <ul class="grobal-nav">
          <li>Portfolio</li>
          <li>About</li>
          <li>Contact</li>
        </ul>
      </nav>
    </header>
    <!--header終わり-->
  
    <!--wrap始まり-->
    <div id="wrap">
      <div class="content">
      <h1>Life is Beautiful, Music!Music!</h1>
      <p>このwebサイトは、音楽教室の働き方改革を目的としたWebサイトです。<br>生徒のモチベーションや教室の適正価格の診断を行うことができます。<br>楽しんで使ってください！</p>
      <p class="btn"><a href="index.html">診断してみる</a></p>  
      </div>
    </div>    
    <!--wrap終わり--> 
    
    <footer>
      <small>(C)2021 Lec.Booster.</small>
    </footer>

  </body>
  
</html>

